body
            {
            background-color:#F8F5F1;
            }
h1
            {
            color:#0A043C;
            }
h3
            {
            color:#45526C;
            }
hr
            {
            border-style: none;
            width: 5%;
            border-style: dotted none none none;
            border-width: 5px;
            color: #F8A488;
            }